      * {
        overflow: auto;
      }

      body {
        background-color: #8BA1BB;
        font-family: "Arial";
      }

      div.contenu {
        background-color: white;
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
        box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
        overflow: visible;
      }

      p.surtitre {
        background-color: black;
        color: white;
        display: inline-block;
        padding: 8px 18px;
        margin-bottom: 0px;
        margin-top: -20px;
        font-weight: bold;
        font-size: 16px;
      }

      div.surtitre {
        margin-bottom: 0px;
        margin-top: 0px;
        overflow: visible;
      }

      .centre {
        text-align: center;
        width: 100%;
      }

      h1 {
        text-align: center;
      }

      p.description {
        text-align: center;
        max-width: 400px;
        display: inline-block;
        font-size: 14px;
      }

      div.info {
        position: relative;
      }

      table.info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        color: white;
        background-color: #6c829dc0;
      }

      table.info td {
        text-align: center;
        font-size: 14px;
        vertical-align: top;
      }

      table.info th {
        text-align: center;
        font-size: 14px;
        vertical-align: bottom;
        padding-bottom: 4px;
      }

      div.separateur {
        background-color: black;
        height: 1px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }

      img.info {
        display: block;
        max-height: 400px;
        object-fit: cover;
        min-height: 200px;
      }

      div.colonne {
        width: 45%;
        margin-top: 20px;
      }

      div.colonne h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        border-bottom: 5px solid #6c829d;
        padding-bottom: 5px;
      }

      div.colonne1 {
        display: inline-block;
        margin-right: 10%;
      }

      div.colonne2 {
        float: right;
      }

      div.ingredients p {
        border: 1px solid lightgray;
        padding: 8px 0px;
        text-align: center;
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 0;
      }

      table.preparation p.numero {
        background-color: #6c829d;
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding: 4px;
        border-radius: 50%;
        margin: 0;
      }

      table.preparation td {
        vertical-align: top;
      }

      table.preparation td.prepstep {
        font-size: 14px;
        padding-left: 10px;
        padding-bottom: 10px;
      }

      table.preparation td {
        height: 40px;
      }